.paragraph--type--paragraph-section {
	margin-top: 30px;
	margin-bottom: 30px; 
	.field--name-field-paragraphs .field__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap; 
	}
}

@include media-breakpoint-up(lg) {
.paragraph--type--paragraph-section {
	.field--name-field-paragraphs .field__items {
		> .field_item {
			flex: 1;
		}
	}
}

}


