.red-with-arrow {
	height: 100%;
	background-color: $ted-red;
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-family: "Sofia Bold";
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
	}
	&:before {
		content: ' ';
		  width: 0; 
		  height: 0; 
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid red;
	}
}

p strong {
	font-family: "Sofia Bold";
}

.no-side-padding {
	&.paragraph--type--text-paragraph {
		
		padding: 15px 0;
	}
}

.field--name-field-column-one img {
	max-width: 100%;
	height: auto;
	padding-right: 20px;
}

.field--name-field-column-two img {
	max-width: 100%;
	height: auto;
	padding-left: 20px;
}

.view-speaker-view {
	margin-bottom: 50px;
	.views-col {
		flex-basis: 100%;

		@include media-breakpoint-up(sm){
			flex-basis: 48%;
		}
		@include media-breakpoint-up(lg){
			flex-basis: 22%;
		}
		.views-field-title {
			text-transform: uppercase;
			font-weight: bold;
			min-height: 50px;
			text-align: center;
			a {
				text-decoration: none;
			}
		}
		img {
			width: 100%;
			height: 440px;
			object-fit: cover;
			@include media-breakpoint-up(lg){
				height: 280px;
			}
		}
		.field-content p {
			padding-top: 10px;
			text-overflow: ellipsis;
			overflow: hidden;
			@include media-breakpoint-up(md){
				height: 80px;
			}
		}
		h2 a {
			:hover {
				text-decoration: underline !important;
			}
			span {
				color: white;
				font-size: 18px;
			}
		}
		.field--name-body {
			color: white;
			margin-top: 15px;
			margin-bottom: 70px;
			font-family: "Sofia Light";
			font-size: 14px;
		}
	}
}

.view-speaker-view .views-row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.view-speaker-view .views-row::after {
	display: none !important;
}

//2 column

.paragraph--type--two-column-text {
	justify-content: space-between;
	.field--type-text-long {
		@include media-breakpoint-up(md) {
			flex-basis: 48% !important;
		}
	}
}

//speaker individual page
.node--type-speakers .node__meta {
	display: none !important;
}

.field--type-image .field__label {
	display: none;
}

#block-views-block-speaker-view-block-1 {
	max-width: 100%;
}

.page-node-type-speakers .node--type-speakers .node__content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 30px;
	.text-formatted {
		flex-basis: 58%;
	}
	.field--type-image {
		flex-basis: 40%;
		img {
			width: 100%;
			height: auto;
		}
	}
	@include media-breakpoint-down(md){
		flex-direction: column;
	}
}

.node--view-mode-teaser .node__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 0;
	.text-formatted {
		flex-basis: 38%;
	}
	.field--type-image {
		flex-basis: 60%;
	}
	@include media-breakpoint-down(md){

		flex-direction: column;
	}
}

#block-oursponsors img {
	max-width: 320px;
	max-height: 170px;
	height: auto;
	width: 90%;
	margin: 15px;
}

#block-oursponsors {
	p {
		color: $ted-black;
	}
}

//events

.event-page .after {
	background-color: white;
}

.event-page h2 a {
	color: $ted-red;
	:hover {
		color: yellow;
	}
}

#block-eventpageblock img {
	width: 100%;
	height: auto;
}

//iframe

iframe {
	background-color: #EEEEEE;
	border-radius: 20px;
	padding: 20px 0;
}