.red-with-arrow {
	height: 100%;
	background-color: $ted-red;
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
	}
	&:before {
		content: ' ';
		  width: 0; 
		  height: 0; 
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid red;
	}
}


.no-side-padding {
	&.paragraph--type--text-paragraph {
		
		padding: 15px 0;
	}
}