.red-with-arrow {
	height: 100%;
	background-color: $ted-red;
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
	}
	&:before {
		content: ' ';
		  width: 0; 
		  height: 0; 
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid red;
	}
}


.no-side-padding {
	&.paragraph--type--text-paragraph {
		
		padding: 15px 0;
	}
}

.field--name-field-column-one img {
	max-width: 100%;
	height: auto;
	padding-right: 20px;
}

.field--name-field-column-two img {
	max-width: 100%;
	height: auto;
	padding-left: 20px;
}

.view-speaker-view {
	margin-bottom: 50px;
	.views-col {
		padding-right: 30px;
		.views-field-title {
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
		}
		img {
			width: 100%;
			height: 180px;
			object-fit: cover;
			margin-bottom: 70px;
		}
		.field-content p {
			padding-top: 10px;
			height: 80px;
			text-overflow: ellipsis;
			overflow: hidden;
		}
	}
}

//speaker individual page
.node--type-speakers .node__meta {
	display: none !important;
}

.field--type-image .field__label {
	display: none;
}

.node--type-speakers .node__content {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	margin-top: 30px;
	.text-formatted {
		flex-basis: 38%;
	}
	.field--type-image {
		flex-basis: 60%;
	}
	@include media-breakpoint-down(md){

		flex-direction: column;
	}
}