// ---------------------------------------------------------------------------//
// MIXINS                                                                     //
// ---------------------------------------------------------------------------//
@charset "UTF-8";
// [ ADD ORIENTATION TO MEDIA QUERY ]
@mixin orientation($direction) {

  $orientation-landscape: '(orientation:landscape)';
  $orientation-portrait : '(orientation:portrait)';

  @if $direction == landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}

// Setup the function in your functions or helpers files, wherever you keep these bits.
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}


.square-button {
  display: block;
  margin: auto;
  border: 1px solid #fff;
  color: #fff;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 8px 4px 8px;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  &:hover {
    color: #333;
    background-color: $white;
  }
}


.section-subtitle {
  text-transform: uppercase;
  color: $ted-red;
  font-size: 32px;
  font-weight: bold;
  padding: 30px 0;
}