.red-with-arrow {
	height: 100%;
	background-color: $ted-red;
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
	}
}