/* ---------------------------------------------------------------------------*/
/* SUBTHEME                                                                   */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";

// BASE
@import "../base/base";
@import "./typography";

* {
	scrollbar-color: inherit !important;
}
.site-logo {
	img {
		height: 40px;
	}
}

.bg-secondary, body{
	background-color: $ted-black !important;
}

