/* ---------------------------------------------------------------------------*/
/* SUBTHEME                                                                   */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";

// BASE
@import "../base/base";
@import "./typography";

* {
	scrollbar-color: inherit !important;
}
body{
	background-color: $ted-black !important;
}

#header-brand, #header-menu, .bg-secondary {
	background-color: $ted-black !important;	
	img.logo {
		width: 300px;
		height: auto;
		max-height: none;
	}
}