.h1, h1 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 45px;
	text-transform: uppercase;
	color: $ted-red;
}

.h2, h2 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 22px;
	letter-spacing: 2.5;
}

.h3, h3 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 20px;
}

.h4, h4 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 12px;
	letter-spacing: 1.4;
	text-transform: uppercase;
}

.h5, h5 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 14px;
}

p {
	font-size: 12px;
	color: $white;
}

p a, a {
	color: $white;
	text-decoration: underline;
	&:hover {
		color: $ted-red;
	}
}


.page-title {
	text-transform: none;
}


b, strong {
	font-weight: bold;
}