.h1, h1 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 45px;
	text-transform: uppercase;
	color: $ted-red;
	text-align: left;
}

.h2, h2 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 22px;
	letter-spacing: 1.5px;
	text-align: left;
}

.h3, h3 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 20px;
	text-align: left;
}

.h4, h4 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 16px;
	letter-spacing: 1.4px;
	text-transform: uppercase;
	text-align: left;
}

.h5, h5 {
	font-style: sans-serif;
	font-style: bold;
	font-size: 14px;
	text-align: left;
}

p {
	font-size: 14px;
	color: $white;
	text-align: left;
	line-height: 22px;
	text-align: left !important;
}

p a, a {
	color: $white;
	text-decoration: underline;
	&:hover {
		color: $ted-red;
	}
}


.page-title {
	text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 15px 0;
}


b, strong {
	font-weight: bold;
}