.about {
	#header-menu {
		background-color: $ted-black !important; 
	}
	.after {
		background-color: $white; 
		padding: 30px 0;
	}
	main {
		background-image: url('/themes/custom/tedx_pipitea_theme/about-image.png');
	    background-repeat: no-repeat;
    	background-position-x: 100%;
    	background-position-y: 100%;
    	background-size: 400px;
    	
    	@include media-breakpoint-up(md) {	
    		background-size: 500px;
		}
    	@include media-breakpoint-up(lg) {	
    		background-size: initial;
    	}
	}
	.node__content {
		max-width: 720px;
	}
}

.block-views-blockspeaker-view-block-1 {
	padding: 0;
	@extend .container;
	h2 {
		padding-bottom: 30px;
		color: $ted-red;
		font-family: "Sofia Medium";
	}
	.view-content .views-row {
		display: flex;
		@include media-breakpoint-down(lg){
			flex-basis: 25%;
		}
	}
}

#block-views-block-speaker-view-block-1-2 {
	padding: 0;
	max-width: 100%;
}


.block-views-blockteam-member-view-block-1 {
	&.views-element-container {
		@extend .container;
	}
	h2 {
		@extend .section-subtitle;
	}
	.view-team-member-view  {
		.view-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&::after { //if two people at end of team members, allow this
				content: '';
				flex: auto;
				max-width: 320px;
				@include media-breakpoint-down(xl){
					max-width: 250px;
				}
			}
			.views-row {
				@include media-breakpoint-down(lg) {
					flex-basis: 100%;
					article {
						display: flex;
						max-width: 100%;
						padding: 10px 0;
						justify-content: flex-end;
						align-items: center;
						flex-direction: row-reverse;
						@include media-breakpoint-down(md){
							display: block;
						}
						h2 {
							flex-basis: 40%;
							@include media-breakpoint-down(md){
								padding-bottom: 10px;
							}
						}
						.node__content {
							flex-basis: 50%;
						}
					}
				}
				//@include media-breakpoint-down(md){
				//	display: block;
				//}
			}
		}
		article {
			max-width: 320px;
			@include media-breakpoint-down(xl){
				max-width: 250px;
			}
			h2 {
				@extend .h2;
			}
		}
	}
}

#block-oursponsors {
	@extend .container;
	
	h2 {
		@extend .section-subtitle;
		flex-basis: 100%;
		margin-top: 30px;
	}
	:nth-child(2){
		flex-basis: 100%;
	}
	.field--name-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 40px;
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}
	article {
		h2 {
			@extend .h2;
		}
	}
}

#block-views-block-team-member-view-block-1 {
	h2 {
		padding-bottom: 0;
		min-height: 80px;
		display: flex;
		align-items: flex-end;
	}
	.field--name-field-role {
		display: none;
	}
	.field--name-body {
		display: none;
	}
	margin-bottom: 60px;
	a {
		@include media-breakpoint-down(lg) {
			padding-left: 20px;
		}
		@include media-breakpoint-down(md) {
			padding-left: 0;
		}
	}
}

//team member

.node--type-team-member .node__content {
	display: flex;
	flex-wrap: wrap;
	@include media-breakpoint-up(md) {
		flex-wrap: nowrap;
	}
	.field--type-image {
		flex-basis: 100%;
		img {
			width: 100%;
		}

	}
	.field--name-body {
		margin: 30px 0;
		@include media-breakpoint-up(md) {
			margin: 0 30px;
		}
	}
}