.contact {
	.node__content {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(md) {	
		flex-direction: row;
			form.webform-submission-form .webform-button--submit{
				margin-left: 0;
			}
		}
		.field--name-field-paragraph-container {
			@include media-breakpoint-up(md) {			
				order: 1;
				margin-left: 30px;
			}
			.paragraph--type--paragraph-section {
				margin-top: 20px;
			}
			.paragraph--type--text-paragraph {
				padding: 0;
			}
		}
	}
}

//social media, may need to be edited

.field__item strong img {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}