.solid {
	.navbar-collapse {
		#menu-main {
			margin-left: auto;
		}
	}
}

//.path-frontpage {
//	#header-brand {
//		display: block;
//	}
//
//	#header-menu {
//		.hide-logo {
//    		display: none;
//   		 }
//	}
//
//	&.solid {
//		#header-brand, #header-menu {
//			background-color: $ted-black !important;
//		}
//	}
//	#header-brand, #header-menu {
//		background-color: transparent !important;
//	}
//
//	#menu-main {
//		margin-left: 0;
//		.region-nav-main {
//			//margin: 0 !important;
//		}
//	}

	// striped image top corner

	//.dialog-off-canvas-main-canvas {
	//	background-image: url('/themes/custom/tedx_pipitea_theme/landing-page-header60.png');
	//	//background-position-y: -15%;
	//	background-color: rgba(0,0,0,0.25);
	//	background-position-x: right;
	//	background-repeat: no-repeat;
	//	@include media-breakpoint-up(md) {
	//		background-position-y: -10%;
	//		background-image: url('/themes/custom/tedx_pipitea_theme/landing-page-header.png');
	//	}
	//	@include media-breakpoint-up(lg) {
	//		//background-image: url('/themes/custom/tedx_pipitea_theme/landing-page-header.png');
	//	}
	//	@include media-breakpoint-up(xl) {
	//		background-position-y: top;
	//	}
	//}

//	.page-title {
//		font-weight: bold;
//		text-transform: none;
//		@include media-breakpoint-up(md) {
//			font-size: 90px;
//		}
//	}
//
//
	.after {
		background-color: $ted-red;
		.container {
			max-width: none;
		}
	}

	.region-content-after {
		display: flex;
			flex-direction: column;
		@include media-breakpoint-up(md) {
			flex-direction: row;
			height: 500px;
		}
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
	}




#block-savethedatecta {
	flex: 1 1 50%;
	display: flex;
	align-items: center;
	padding: 35px calc(var(--bs-gutter-x) / 2);
	order: 1;
	z-index: 1;
	@include media-breakpoint-up(md) {			
		order: 0;
	}
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;
		margin-bottom: 30px;
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
		margin-top: 40px;
		@include media-breakpoint-up(md) {			
			margin-left: 0;
		}
	}
	@include media-breakpoint-up(xs) {
		.field--name-body {
			max-width: 90%;
			margin: auto;
		}
	}
	@include media-breakpoint-up(md) {
		.field--name-body {
			max-width: 90%;
			margin: revert;
			margin-left: auto;
		}
	}
	@include media-breakpoint-up(lg) {
		.field--name-body {
			max-width: 455px;
		}
	}
	@include media-breakpoint-up(xl) {
		.field--name-body {
			max-width: 540px;
		}
	}
}

#block-savethedatectaimage {
	flex: 1 1 50%;
	position: relative;
	img {
		display: none;
	}
	p {
		margin: 0;
		height: 500px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		@include media-breakpoint-up(lg) {
			height: 400px;
		}
	}
	.field--name-body {
		height: 100%;
	}
	.arrow-up { 
		height: 100px;
		-webkit-clip-path: polygon(50% 0%, 0px 25%, 100% 25%);
		clip-path: polygon(50% 0%, 0px 25%, 100% 25%);
		background-color: $ted-red;
		display: inline-block;
		position: absolute;
		bottom: -75px;
		left: 0;
		right: 0;
		
	}
	.arrow-side {
		display: none;
	}
}
@include media-breakpoint-up(md) {		
	#block-savethedatectaimage {
		.arrow-up {
			display: none;
		}
		.arrow-side {
			display: inline-block;
			background-color: $ted-red;
			clip-path: polygon(0px 0px, 100% 50%, 0px 100%);
			position: absolute;
			left: -1px;
			height: 100%;
			width: 30px;
		}
	}
}

.path-frontpage #header-brand {
	display: none;
}

//footer

#block-socialmedialinks div {
	display: flex;
	margin-bottom: 20px;
	p a :first-child {
		height: 30px;
		width: auto !important;
		padding-right: 10px;
	}
}

//new designs

.paragraph--type--banner-image {
	position: relative;
	margin-bottom: 50px;
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.field--name-field-banner-text-left {
	position: absolute;
	bottom: 160px;
	width: 50%;
	margin-left: 30px;
	color: white;
	text-align: left !important;
	line-height: 30px;
	font-size: 20px;
	@include media-breakpoint-down(lg) {
		line-height: 22px;
		font-size: 15px;
		bottom: 120px;
	}
	@include media-breakpoint-down(md) {
		line-height: 18px;
		font-size: 12px;
		bottom: 70px;
	}
	.field__label {
		display: none;
	}
}

.path-frontpage .before {
	background-color: white;
}

#block-bannerblock {
	max-width: 1440px;
	background: white;
	overflow-x: hidden;
	img {
		width: 100%;
		height: auto;
	}
}

.path-frontpage h1 {
	text-transform: capitalize;
	margin-top: 50px;
	margin-bottom: 0;
}



