.about {
	.after {
		background-color: $white; 
		padding: 30px 0;
	}
	main {
		background-image: url('/themes/custom/tedx_piptea_theme/about-image-1.png');
		    background-image: url("/themes/custom/tedx_piptea_theme/about-image.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 100%;

	}
}

.block-views-blockteam-member-view-block-1 {
	&.views-element-container {
		@extend .container;
	}
	h2 {
		@extend .section-subtitle;
	}
	.view-team-member-view  {
		.view-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		article {
			max-width: 320px;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			h2 {
				@extend .h2;
				position: absolute;
			}
		}
	}
}

#block-oursponsors {
	@extend .container;
	
	h2 {
		@extend .section-subtitle;
	}
	.field--name-body {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		p {
			margin-left: auto;
			margin-right: auto;
		}
	}
	article {
		h2 {
			@extend .h2;
		}
	}
}
