.page-node-type-blog {
	main {
		background-color: $white;
	}
	.field--name-field-section-title {
		color: $ted-red;
		font-weight: bold;
	}	
	#header-menu {
		background-color: #111111 !important;
	}
	p {
		color: $black;
	}
}

