.page-node-type-blog {
	main {
		background-color: $white;
	}
	.field--name-field-section-title {
		color: $ted-red;
	}	
	#header-menu {
		background-color: #111111 !important;
	}
}

#header-menu {
padding-top: 2rem;
padding-bottom: 2rem;
}