.page-node-type-blog {
	main {
		background-color: $white;
	}
	.field--name-field-section-title {
		color: $ted-red;
		font-weight: bold;
	}	
	#header-menu {
		background-color: #111111 !important;
	}
	p {
		color: $black;
	}
	.paragraph--type--text-paragraph {
		max-width: none;
	}
	.paragraph--type--paragraph-section .field--name-field-paragraphs .field__items .field__item {
		flex: 1 1 auto;
	}
}

