.path-frontpage {
	#header-brand {
		display: none;
	}
	#header-menu {
		padding-top: 2rem;
		.hide-logo {
			display: inline-block;
		}
	} 
	.dialog-off-canvas-main-canvas {
		background-image: url('/themes/custom/tedx_piptea_theme/landing-page-header.png');
		background-position-y: -15%;
		background-position-x: right;
		background-repeat: no-repeat;
		@include media-breakpoint-up(lg) {		
			background-position-y: top;
		}
	}

	.page-title {
		font-weight: bold;
		text-transform: none;
		@include media-breakpoint-up(md) {			
			font-size: 90px;
		}
	}


	.after {
		background-color: $ted-red; 
	}

	.region-content-after {
		display: flex;
			flex-direction: column;
		@include media-breakpoint-up(md) {			
			flex-direction: row;
		}
	}
}




#block-savethedatecta {
	flex: 1 1 50%;
	display: flex;
	align-items: center;
	padding: calc(var(--bs-gutter-x) / 2);
	@include media-breakpoint-up(md) {			
		padding-left: 0;
	}
	h2 {
		color: $white;
		text-transform: uppercase;
		font-size: 35px;
		font-weight: bold;
	}
	p {
		color: $white;
	}

	a {
		color: $white;
		@extend .square-button;
		@include media-breakpoint-up(md) {			
			margin-left: 0;
		}
	}
}

#block-savethedatectaimage {
	flex: 1 1 50%;
	img {
		max-width: 100%;
		height: auto;
	}
	p {
		margin: 0;
	}
}