.paragraph--type--cta-paragraph {
	max-width: 100%;
	background-color: $ted-dark-grey;
	padding: 20px;
	margin-bottom: 15px;
	h2 {
		color: $ted-red;
		text-transform: uppercase;
		font-family: "Sofia Bold";
		font-size: 14px;
	} 
	h3 {
		font-family: "Sofia Medium";;
		color: $white;
	}
	p {
		padding: 15px 0;
	}
	.field--name-field-link {
		padding: 15px 0;
		text-align: center;
		a {
			@extend .square-button;
		}
	}
	@include media-breakpoint-up(lg){
		height: 400px;
		max-width: 300px;
	}
	@include media-breakpoint-up(xl){
		height: 382px;
		max-width: 350px;
	}

}