.field--type-image {
	img {
		height: auto;
	}
	.caption {
		background-color: $ted-black;
		color: $white;
	}
}

.paragraph--type--text-paragraph  {
	padding: 15px 0;
	max-width: 900px;
}


.paragraph--type--two-column-text {
	display: flex;
	flex-wrap: wrap;
	.field--name-field-section-title {
		flex-basis: 100%;
	}
	.caption {
		margin: auto;
		> figcaption {
		 	background-color: $ted-black;
		 	color: $white;
		 	padding: 5px;
		 }
	}
	.field--type-text-long { 
		width: 100%;
	}

	@include media-breakpoint-up(lg) {
		.field--type-text-long {
			flex-basis: 50%;
		}
	}

}

.field--name-field-blog-subtitle {
	color: $ted-red;
	font-weight: bold;
}

.paragraph--type--image-paragraph {
	text-align: center;
	.image-wrapper {
		display: inline-block;
	}
	.field--name-field-image-caption {
		text-align: left;
		background-color: $ted-black;
		color: $white;
		padding: 5px;
	}
}