#menu-main a.nav-item {
	text-transform: uppercase;
	color: $white;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
	&:before {
		content: none;
	}
}

.navbar {
	.container {
		max-width: 1180px;
	}
	.region-nav-main {
		padding: 0;
	}
}

#header-brand a.navbar-brand, .d-md-none, .sr-only {
	font-size: 0;
	.d-md-none, .sr-only {
		font-size: 0;
	}
}

#header-menu .nav.navbar-nav li.nav-item {
		@include media-breakpoint-up(md) {			
			margin-right: 40px;
		}
}

main {
	padding-bottom: 30px;
}

// Content after
#content-after {
	padding-left: 0;
	padding-right: 0;
}


// Footers

#page-footer {
	background-color: $ted-dark-grey !important;
	margin-top: 0 !important;
	box-shadow: none;
}


#page-footer-sub {
	background-color: $white !important;
}


#block-independenttedxstatement-2, #block-tedx-pipitea-theme-account-menu {
	p {
		color: $ted-red;
	}
}

footer .region-footer-left .block ul {
	li {
		margin-left: 0;
		&:before {
			content: none !important;
		}
	}
	a {
		text-transform: uppercase;
		color: $white;
		font-weight: bold;
		&:hover {
			text-decoration: underline;
		}
	}
	
}