.paragraph--type--cta-paragraph {
	max-width: 350px;
	background-color: $ted-dark-grey;
	padding: 20px;
	margin-bottom: 15px;
	h2 {
		color: $white;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 14px;
	} 
	h3 {
		font-weight: bold;
		color: $white;
	}
	p {
		padding: 15px 0;
	}
	.field--name-field-link {
		padding: 15px 0;
		text-align: center;
		a {
			@extend .square-button;
		}
	}
}