#header-brand {
		padding-top: 2rem !important;
		background-color: transparent !important;
		box-shadow: none;
		img.logo {
			width: 300px;
			height: auto;
			max-height: none;
		}
}

#header-menu {
	box-shadow: none;
}