#header-brand {
		padding-top: 2rem !important;
		background-color: transparent !important;
		box-shadow: none;
		img.logo {
			width: 300px;
			height: auto;
			max-height: none;
		}
}

#header-menu {
	box-shadow: none;
	padding-top: 1rem;
	padding-bottom: 0rem;
	img.logo {
		width: 200px;
	}
	@include media-breakpoint-up(lg){
		padding-top: 1rem;
		padding-bottom: 1rem;
		img.logo {
			width: 300px;
		}
	}
}

.d-md-flex .d-none {
	display: block !important;
}

#menu-add {
	height: auto;
}

#navigation-container {
	@include media-breakpoint-down(md) {
		margin-top: -50px;
	}
}

.navbar-toggler-icon {
	position: fixed;
	top: 50px;
	right: 50px;

}

header nav .container .ml-md-0 {
	display: none;
}
.solid header nav .container .ml-md-0 {
	display: block;
}