#header-brand {
padding-top: 2rem !important;
	
}

.solid {
	#header-brand, #header-menu {
		background-color: $ted-black !important;
	}
}

#header-brand, #header-menu {
		background-color: transparent !important;
		box-shadow: none;
}