.paragraph--type--paragraph-section {
	margin-top: 30px;
	margin-bottom: 30px; 
	.field--name-field-paragraphs .field__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}

.event-page {
	.paragraph--type--paragraph-section {
		margin-top: 30px;
		margin-bottom: 30px;
		.field--name-field-paragraphs .field__items {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@include media-breakpoint-up(lg) {
				flex-wrap: nowrap;
				img {
					padding-left: 30px;
					max-height: 500px;
					object-fit: cover;
				}
			}
		}
	}
}

@include media-breakpoint-up(lg) {
.paragraph--type--paragraph-section {
	.field--name-field-paragraphs .field__items {
		> .field_item {
			flex: 1;
		}
	}
}
}


