form.webform-submission-form {
	input.form-control, textarea.form-control{
		background-color: $ted-black;
	}
	.webform-button--submit {
		@extend .square-button;
	}
	label {
		display: none;
	}
}

#captcha {
	border: none !important;
	margin: 0;
	padding: 0;
	summary {
		display: none;
	}
	.details-wrapper {
		margin: 20px 0;
		padding: 0;
		.details-description {
			display: none;
		}
	}
}