/* ---------------------------------------------------------------------------*/
/* SUBTHEME                                                                   */
/* ---------------------------------------------------------------------------*/
@charset "UTF-8";

// BASE
@import "../base/base";
@import "./typography";

* {
	scrollbar-color: inherit !important;
}
body{
	background-color: $ted-black !important;
}

#header-brand, .bg-secondary {
	background-color: inherit !important;	
}
